In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
daily = pd.read_csv(r"C:\Users\dhars\OneDrive\Desktop\Covid 19 project\Coronavirus_cases_daily_update.csv")
codebook = pd.read_csv(r"C:\Users\dhars\OneDrive\Desktop\Covid 19 project\owid_covid_codebook.csv")

In [2]:
daily.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN

In [3]:
daily.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
429430,ZWE,Africa,Zimbabwe,2024-07-31,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
429431,ZWE,Africa,Zimbabwe,2024-08-01,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
429432,ZWE,Africa,Zimbabwe,2024-08-02,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
429433,ZWE,Africa,Zimbabwe,2024-08-03,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
429434,ZWE,Africa,Zimbabwe,2024-08-04,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN

In [4]:
daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429435 entries, 0 to 429434
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    429435 non-null  object
 1   continent                                   402910 non-null  object
 2   location                                    429435 non-null  object
 3   date                                        429435 non-null  object
 4   total_cases                                 411804 non-null  float64
 5   new_cases                                   410159 non-null  float64
 6   new_cases_smoothed                          408929 non-null  float64
 7   total_deaths                                411804 non-null  float64
 8   new_deaths                                  410608 non-null  float64
 9   new_deaths_smoothed                         409378 non-null  float64
 10  total_cases_per_million                     411804 non-null  float64
 11  new_cases_per_million                       410159 non-null  float64
 12  new_cases_smoothed_per_million              408929 non-null  float64
 13  total_deaths_per_million                    411804 non-null  float64
 14  new_deaths_per_million                      410608 non-null  float64
 15  new_deaths_smoothed_per_million             409378 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                39116 non-null   float64
 18  icu_patients_per_million                    39116 non-null   float64
 19  hosp_patients                               40656 non-null   float64
 20  hosp_patients_per_million                   40656 non-null   float64
 21  weekly_icu_admissions                       10993 non-null   float64
 22  weekly_icu_admissions_per_million           10993 non-null   float64
 23  weekly_hosp_admissions                      24497 non-null   float64
 24  weekly_hosp_admissions_per_million          24497 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          85417 non-null   float64
 35  people_vaccinated                           81132 non-null   float64
 36  people_fully_vaccinated                     78061 non-null   float64
 37  total_boosters                              53600 non-null   float64
 38  new_vaccinations                            70971 non-null   float64
 39  new_vaccinations_smoothed                   195029 non-null  float64
 40  total_vaccinations_per_hundred              85417 non-null   float64
 41  people_vaccinated_per_hundred               81132 non-null   float64
 42  people_fully_vaccinated_per_hundred         78061 non-null   float64
 43  total_boosters_per_hundred                  53600 non-null   float64
 44  new_vaccinations_smoothed_per_million       195029 non-null  float64
 45  new_people_vaccinated_smoothed              192177 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  192177 non-null  float64
 47  stringency_index                            196190 non-null  float64
 48  population_density                          360492 non-null  float64
 49  median_age                                  334663 non-null  float64
 50  aged_65_older                               323270 non-null  float64
 51  aged_70_older                               331315 non-null  float64
 52  gdp_per_capita                              328292 non-null  float64
 53  extreme_poverty                             211996 non-null  float64
 54  cardiovasc_death_rate                       328865 non-null  float64
 55  diabetes_prevalence                         345911 non-null  float64
 56  female_smokers                              247165 non-null  float64
 57  male_smokers                                243817 non-null  float64
 58  handwashing_facilities                      161741 non-null  float64
 59  hospital_beds_per_thousand                  290689 non-null  float64
 60  life_expectancy                             390299 non-null  float64
 61  human_development_index                     319127 non-null  float64
 62  population                                  429435 non-null  int64
 63  excess_mortality_cumulative_absolute        13411 non-null   float64
 64  excess_mortality_cumulative                 13411 non-null   float64
 65  excess_mortality                            13411 non-null   float64
 66  excess_mortality_cumulative_per_million     13411 non-null   float64
dtypes: float64(61), int64(1), object(5)
memory usage: 219.5+ MB

In [5]:
daily.shape

(429435, 67)

In [6]:
daily.describe

<bound method NDFrame.describe of        iso_code continent     location        date  total_cases  new_cases  \
0           AFG      Asia  Afghanistan  2020-01-05          0.0        0.0
1           AFG      Asia  Afghanistan  2020-01-06          0.0        0.0
2           AFG      Asia  Afghanistan  2020-01-07          0.0        0.0
3           AFG      Asia  Afghanistan  2020-01-08          0.0        0.0
4           AFG      Asia  Afghanistan  2020-01-09          0.0        0.0
...         ...       ...          ...         ...          ...        ...
429430      ZWE    Africa     Zimbabwe  2024-07-31     266386.0        0.0
429431      ZWE    Africa     Zimbabwe  2024-08-01     266386.0        0.0
429432      ZWE    Africa     Zimbabwe  2024-08-02     266386.0        0.0
429433      ZWE    Africa     Zimbabwe  2024-08-03     266386.0        0.0
429434      ZWE    Africa     Zimbabwe  2024-08-04     266386.0        0.0

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
0                      NaN           0.0         0.0                  NaN
1                      NaN           0.0         0.0                  NaN
2                      NaN           0.0         0.0                  NaN
3                      NaN           0.0         0.0                  NaN
4                      NaN           0.0         0.0                  NaN
...                    ...           ...         ...                  ...
429430                 0.0        5740.0         0.0                  0.0
429431                 0.0        5740.0         0.0                  0.0
429432                 0.0        5740.0         0.0                  0.0
429433                 0.0        5740.0         0.0                  0.0
429434                 0.0        5740.0         0.0                  0.0

        ...  male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0       ...           NaN                  37.746                         0.5
1       ...           NaN                  37.746                         0.5
2       ...           NaN                  37.746                         0.5
3       ...           NaN                  37.746                         0.5
4       ...           NaN                  37.746                         0.5
...     ...           ...                     ...                         ...
429430  ...          30.7                  36.791                         1.7
429431  ...          30.7                  36.791                         1.7
429432  ...          30.7                  36.791                         1.7
429433  ...          30.7                  36.791                         1.7
429434  ...          30.7                  36.791                         1.7

        life_expectancy  human_development_index  population  \
0                 64.83                    0.511    41128772
1                 64.83                    0.511    41128772
2                 64.83                    0.511    41128772
3                 64.83                    0.511    41128772
4                 64.83                    0.511    41128772
...                 ...                      ...         ...
429430            61.49                    0.571    16320539
429431            61.49                    0.571    16320539
429432            61.49                    0.571    16320539
429433            61.49                    0.571    16320539
429434            61.49                    0.571    16320539

        excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                        NaN                          NaN
1                                        NaN                          NaN
2                                        NaN                          NaN
3                                        NaN                          NaN
4                                        NaN                          NaN
...                                      ...                          ...
429430                                   NaN                          NaN
429431                                   NaN                          NaN
429432                                   NaN                          NaN
429433                                   NaN                          NaN
429434                                   NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
0                    NaN                                      NaN
1                    NaN                                      NaN
2                    NaN                                      NaN
3                    NaN                                      NaN
4                    NaN                                      NaN
...                  ...                                      ...
429430               NaN                                      NaN
429431               NaN                                      NaN
429432               NaN                                      NaN
429433               NaN                                      NaN
429434               NaN                                      NaN

[429435 rows x 67 columns]>

In [7]:
daily.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [8]:
daily.index

RangeIndex(start=0, stop=429435, step=1)

In [9]:
daily.isna().sum()

iso_code                                        0
continent                                   26525
location                                        0
date                                            0
total_cases                                 17631
                                            ...
population                                      0
excess_mortality_cumulative_absolute       416024
excess_mortality_cumulative                416024
excess_mortality                           416024
excess_mortality_cumulative_per_million    416024
Length: 67, dtype: int64

In [10]:
daily.count()

iso_code                                   429435
continent                                  402910
location                                   429435
date                                       429435
total_cases                                411804
                                            ...
population                                 429435
excess_mortality_cumulative_absolute        13411
excess_mortality_cumulative                 13411
excess_mortality                            13411
excess_mortality_cumulative_per_million     13411
Length: 67, dtype: int64

In [11]:
#replace missing values with 0
daily.fillna(0, inplace=True)

In [12]:
daily.isna().sum()

iso_code                                   0
continent                                  0
location                                   0
date                                       0
total_cases                                0
                                          ..
population                                 0
excess_mortality_cumulative_absolute       0
excess_mortality_cumulative                0
excess_mortality                           0
excess_mortality_cumulative_per_million    0
Length: 67, dtype: int64

In [13]:
#drop columns that are not needed
daily.drop(columns=['iso_code',
                    'new_cases_smoothed',
                    'new_deaths_smoothed',
                    'total_cases_per_million',
                    'new_cases_per_million',
                    'new_cases_smoothed_per_million',
                    'total_deaths_per_million',
                    'new_deaths_per_million',
                    'new_deaths_smoothed_per_million',
                    'icu_patients_per_million',
                    'hosp_patients_per_million',
                    'weekly_icu_admissions_per_million',
                    'weekly_hosp_admissions_per_million',
                    'new_tests_smoothed',
                    'new_tests_smoothed_per_thousand',
                    'total_tests_per_thousand',
                    'new_vaccinations_smoothed',
                    'new_vaccinations_smoothed_per_million',
                    'total_vaccinations_per_hundred',
                    'people_vaccinated_per_hundred',
                    'people_fully_vaccinated_per_hundred',
                    'total_boosters_per_hundred',
                    'hospital_beds_per_thousand',
                    'excess_mortality_cumulative_per_million',
                    'new_people_vaccinated_smoothed',
                    'new_people_vaccinated_smoothed_per_hundred'], inplace=True)

In [14]:
daily.columns

Index(['continent', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'reproduction_rate', 'icu_patients',
       'hosp_patients', 'weekly_icu_admissions', 'weekly_hosp_admissions',
       'total_tests', 'new_tests', 'new_tests_per_thousand', 'positive_rate',
       'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'stringency_index', 'population_density',
       'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita',
       'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence',
       'female_smokers', 'male_smokers', 'handwashing_facilities',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality'],
      dtype='object')

In [15]:
daily.shape

(429435, 41)

In [16]:
codebook.head()

,column,source,category,description
0,iso_code,International Organization for Standardization,Others,ISO 3166-1 alpha-3 – three-letter country code...
1,continent,Our World in Data,Others,Continent of the geographical location
2,location,Our World in Data,Others,Geographical location
3,date,Our World in Data,Others,Date of observation
4,total_cases,COVID-19 Dashboard by the WHO,Confirmed cases,Total confirmed cases of COVID-19. Counts can ...

In [17]:
codebook.tail()

,column,source,category,description
62,human_development_index,United Nations Development Programme (UNDP),Others,A composite index measuring average achievemen...
63,excess_mortality,"Human Mortality Database (2021), World Mortali...",Excess mortality,Percentage difference between the reported num...
64,excess_mortality_cumulative,"Human Mortality Database (2021), World Mortali...",Excess mortality,Percentage difference between the cumulative n...
65,excess_mortality_cumulative_absolute,"Human Mortality Database (2021), World Mortali...",Excess mortality,Cumulative difference between the reported num...
66,excess_mortality_cumulative_per_million,"Human Mortality Database (2021), World Mortali...",Excess mortality,Cumulative difference between the reported num...

In [18]:
codebook.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   column       67 non-null     object
 1   source       67 non-null     object
 2   category     67 non-null     object
 3   description  67 non-null     object
dtypes: object(4)
memory usage: 2.2+ KB

In [19]:
codebook.shape

(67, 4)

In [20]:
codebook.columns

Index(['column', 'source', 'category', 'description'], dtype='object')

In [21]:
codebook.index

RangeIndex(start=0, stop=67, step=1)

In [22]:
codebook.isna().sum()

column         0
source         0
category       0
description    0
dtype: int64

In [23]:
codebook.describe

<bound method NDFrame.describe of                                      column  \
0                                  iso_code
1                                 continent
2                                  location
3                                      date
4                               total_cases
..                                      ...
62                  human_development_index
63                         excess_mortality
64              excess_mortality_cumulative
65     excess_mortality_cumulative_absolute
66  excess_mortality_cumulative_per_million

                                               source          category  \
0      International Organization for Standardization            Others
1                                   Our World in Data            Others
2                                   Our World in Data            Others
3                                   Our World in Data            Others
4                       COVID-19 Dashboard by the WHO   Confirmed cases
..                                                ...               ...
62        United Nations Development Programme (UNDP)            Others
63  Human Mortality Database (2021), World Mortali...  Excess mortality
64  Human Mortality Database (2021), World Mortali...  Excess mortality
65  Human Mortality Database (2021), World Mortali...  Excess mortality
66  Human Mortality Database (2021), World Mortali...  Excess mortality

                                          description
0   ISO 3166-1 alpha-3 – three-letter country code...
1              Continent of the geographical location
2                               Geographical location
3                                 Date of observation
4   Total confirmed cases of COVID-19. Counts can ...
..                                                ...
62  A composite index measuring average achievemen...
63  Percentage difference between the reported num...
64  Percentage difference between the cumulative n...
65  Cumulative difference between the reported num...
66  Cumulative difference between the reported num...

[67 rows x 4 columns]>

In [24]:
codebook.count()

column         67
source         67
category       67
description    67
dtype: int64

In [25]:
#count of cases on the year 2020
count_of_cases_2020 = daily[daily['date'].str.contains('2020')].count()
print("Count of cases on the year 2020:")
print(count_of_cases_2020)

Count of cases on the year 2020:
continent                               90982
location                                90982
date                                    90982
total_cases                             90982
new_cases                               90982
total_deaths                            90982
new_deaths                              90982
reproduction_rate                       90982
icu_patients                            90982
hosp_patients                           90982
weekly_icu_admissions                   90982
weekly_hosp_admissions                  90982
total_tests                             90982
new_tests                               90982
new_tests_per_thousand                  90982
positive_rate                           90982
tests_per_case                          90982
tests_units                             90982
total_vaccinations                      90982
people_vaccinated                       90982
people_fully_vaccinated                 90982
total_boosters                          90982
new_vaccinations                        90982
stringency_index                        90982
population_density                      90982
median_age                              90982
aged_65_older                           90982
aged_70_older                           90982
gdp_per_capita                          90982
extreme_poverty                         90982
cardiovasc_death_rate                   90982
diabetes_prevalence                     90982
female_smokers                          90982
male_smokers                            90982
handwashing_facilities                  90982
life_expectancy                         90982
human_development_index                 90982
population                              90982
excess_mortality_cumulative_absolute    90982
excess_mortality_cumulative             90982
excess_mortality                        90982
dtype: int64

In [26]:
#count of cases on the year 2021
count_of_cases_2021 = daily[daily['date'].str.contains('2021')].count()
print("Count of cases on the year 2021:")
print(count_of_cases_2021)

Count of cases on the year 2021:
continent                               95088
location                                95088
date                                    95088
total_cases                             95088
new_cases                               95088
total_deaths                            95088
new_deaths                              95088
reproduction_rate                       95088
icu_patients                            95088
hosp_patients                           95088
weekly_icu_admissions                   95088
weekly_hosp_admissions                  95088
total_tests                             95088
new_tests                               95088
new_tests_per_thousand                  95088
positive_rate                           95088
tests_per_case                          95088
tests_units                             95088
total_vaccinations                      95088
people_vaccinated                       95088
people_fully_vaccinated                 95088
total_boosters                          95088
new_vaccinations                        95088
stringency_index                        95088
population_density                      95088
median_age                              95088
aged_65_older                           95088
aged_70_older                           95088
gdp_per_capita                          95088
extreme_poverty                         95088
cardiovasc_death_rate                   95088
diabetes_prevalence                     95088
female_smokers                          95088
male_smokers                            95088
handwashing_facilities                  95088
life_expectancy                         95088
human_development_index                 95088
population                              95088
excess_mortality_cumulative_absolute    95088
excess_mortality_cumulative             95088
excess_mortality                        95088
dtype: int64

In [27]:
#count of cases on the year 2022
count_of_cases_2022 = daily[daily['date'].str.contains('2022')].count()
print("Count of cases on the year 2022:")
print(count_of_cases_2022)

Count of cases on the year 2022:
continent                               94932
location                                94932
date                                    94932
total_cases                             94932
new_cases                               94932
total_deaths                            94932
new_deaths                              94932
reproduction_rate                       94932
icu_patients                            94932
hosp_patients                           94932
weekly_icu_admissions                   94932
weekly_hosp_admissions                  94932
total_tests                             94932
new_tests                               94932
new_tests_per_thousand                  94932
positive_rate                           94932
tests_per_case                          94932
tests_units                             94932
total_vaccinations                      94932
people_vaccinated                       94932
people_fully_vaccinated                 94932
total_boosters                          94932
new_vaccinations                        94932
stringency_index                        94932
population_density                      94932
median_age                              94932
aged_65_older                           94932
aged_70_older                           94932
gdp_per_capita                          94932
extreme_poverty                         94932
cardiovasc_death_rate                   94932
diabetes_prevalence                     94932
female_smokers                          94932
male_smokers                            94932
handwashing_facilities                  94932
life_expectancy                         94932
human_development_index                 94932
population                              94932
excess_mortality_cumulative_absolute    94932
excess_mortality_cumulative             94932
excess_mortality                        94932
dtype: int64

In [28]:
#count of cases on the year 2023
count_of_cases_2023 = daily[daily['date'].str.contains('2023')].count()
print("Count of cases on the year 2023:")
print(count_of_cases_2023)

Count of cases on the year 2023:
continent                               93831
location                                93831
date                                    93831
total_cases                             93831
new_cases                               93831
total_deaths                            93831
new_deaths                              93831
reproduction_rate                       93831
icu_patients                            93831
hosp_patients                           93831
weekly_icu_admissions                   93831
weekly_hosp_admissions                  93831
total_tests                             93831
new_tests                               93831
new_tests_per_thousand                  93831
positive_rate                           93831
tests_per_case                          93831
tests_units                             93831
total_vaccinations                      93831
people_vaccinated                       93831
people_fully_vaccinated                 93831
total_boosters                          93831
new_vaccinations                        93831
stringency_index                        93831
population_density                      93831
median_age                              93831
aged_65_older                           93831
aged_70_older                           93831
gdp_per_capita                          93831
extreme_poverty                         93831
cardiovasc_death_rate                   93831
diabetes_prevalence                     93831
female_smokers                          93831
male_smokers                            93831
handwashing_facilities                  93831
life_expectancy                         93831
human_development_index                 93831
population                              93831
excess_mortality_cumulative_absolute    93831
excess_mortality_cumulative             93831
excess_mortality                        93831
dtype: int64

In [29]:
#count of cases on the year 2024
count_of_cases_2024 = daily[daily['date'].str.contains('2024')].count()
print("Count of cases on the year 2024:")
print(count_of_cases_2024)

Count of cases on the year 2024:
continent                               54602
location                                54602
date                                    54602
total_cases                             54602
new_cases                               54602
total_deaths                            54602
new_deaths                              54602
reproduction_rate                       54602
icu_patients                            54602
hosp_patients                           54602
weekly_icu_admissions                   54602
weekly_hosp_admissions                  54602
total_tests                             54602
new_tests                               54602
new_tests_per_thousand                  54602
positive_rate                           54602
tests_per_case                          54602
tests_units                             54602
total_vaccinations                      54602
people_vaccinated                       54602
people_fully_vaccinated                 54602
total_boosters                          54602
new_vaccinations                        54602
stringency_index                        54602
population_density                      54602
median_age                              54602
aged_65_older                           54602
aged_70_older                           54602
gdp_per_capita                          54602
extreme_poverty                         54602
cardiovasc_death_rate                   54602
diabetes_prevalence                     54602
female_smokers                          54602
male_smokers                            54602
handwashing_facilities                  54602
life_expectancy                         54602
human_development_index                 54602
population                              54602
excess_mortality_cumulative_absolute    54602
excess_mortality_cumulative             54602
excess_mortality                        54602
dtype: int64

In [30]:
#save the cleaned data to a new CSV file
daily.to_csv(r"C:\Users\dhars\OneDrive\Desktop\Covid 19 project\cleaned_coronavirus_cases_daily_update.csv", index=False)
codebook.to_csv(r"C:\Users\dhars\OneDrive\Desktop\Covid 19 project\cleaned_owid_covid_codebook.csv", index=False)
print("Cleaned data saved successfully.")

Cleaned data saved successfully.